<div class="bg-nav mat-app-background" *ngIf="!isLoggedIn">
    <app-general-navbar></app-general-navbar>
</div>

<div class="side-nav mat-app-background" *ngIf="isLoggedIn && !switchProfile">
    <app-navbar-user (logOut)="logout()" (switch)="changeProfile()" [isAdmin]="isAdmin"></app-navbar-user>
</div>

<div class="side-nav mat-app-background" *ngIf="isLoggedIn && switchProfile">
    <app-navbar-admin (logOut)="logout()" (switch)="changeProfile()" [isAdmin]="isAdmin"></app-navbar-admin>
</div>