<div class="bg-nav">
    <nav id="my-first">
        <ul>
            <li class="logotype">
                <img ngSrc="assets/imgs/logo.png" alt="" width="85" height="71" priority>
                <a href="#">TinyTask</a>
            </li>
            <li class="burger" (click)="toggleMenu()">
                <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
            </li>
            <li class="menu" [class.is-open]="isMenuOpen">
                <a href="#" class="menu-item item">Home</a>
                <a href="#" class="menu-item item">About</a>
                <a href="#" class="menu-item item">Contact</a>
                <div class="btns">
                    <a href="#" class="item btn-login">Log In</a>
                    <a href="#" class="item btn-register">Sign Up</a>
                </div>
            </li>
        </ul>
    </nav>
</div>