<form [formGroup]="tagForm" class="formulario" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;"
            formControlName="tagColor"></ngx-colors>
        <mat-form-field [hideRequiredMarker]="hideRequiredControl.value">
            <mat-label class="label">Tag Name</mat-label>
            <input matInput placeholder="Ex. Study" value="" formControlName="tagName">
            @if (tagForm.get('tagName')?.hasError('required')) {
            <mat-error>Tag's name is required</mat-error>
            }
            @if (tagForm.get('tagName')?.hasError('maxlength')) {
            <mat-error>Max. length 15</mat-error>
            }
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="deleteTag = true" type="button" [disabled]="!currentTag">Delete Task</button>
        <button mat-flat-button color="primary" type="submit" color="primary" [disabled]="!tagForm.valid">Save</button>
    </mat-dialog-actions>
</form>