.example-container {

    .tittle {
        background-color: #bbb;
        text-align: center;
        padding: 20px 0;
    }

    margin-left: 90px;

    table {
        width: 100%;
    }

    .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
    }

    td,
    th {
        width: 25%;
    }

    button {
        margin: 5px 0;
    }
}