<div class="weekday-container">
    <div class="weekday" #target>
        <div class="day mat-app-background">
            {{dayName}}
        </div>
        <div class="add-task mat-app-background" (click)="openDialog()">
            + Add Task
        </div>
        <div class="all-tasks ">
            <div class="task">
                <div *ngFor="let item of todayTasks">
                    <app-little-task [task]=item (updateTask)="updateTaskParent($event)"
                        (deleteTask)="deleteTaskParent($event)"></app-little-task>
                </div>
            </div>
        </div>
    </div>
</div>