$menuBreakpoint: 768px;

.weekday-container {

    .weekday {
        display: flex;
        flex-direction: column;
        width: 300px;
        max-height: calc(100vh - 44px); // tamaño de la barra nav-mes
        // minHeigh le da el tamaño al contenedor, donde se encutran las tareas

        .day {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            border: 1px solid #707070;
        }

        &.highlight .day {
            border: 2px solid #202020;
        }

        .add-task {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            border: 1px solid #707070;
            border-top: 0;
        }

        &.highlight .add-task {
            border: 2px solid #202020;
            border-top: 0;
        }

        .all-tasks {
            overflow-y: auto;
        }

    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}