.main-view {
    margin-left: 90px;
    position: relative;

    .nav-month {
        background-color: #DBE2EF;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;

            .text {
                padding: 0 20px;
                font-weight: 600;
            }
        }
    }

    .tareitas {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        overflow: hidden;

        #tasks-view {
            background-color: rebeccapurple;
        }
    }

    .example-button-row {
        position: absolute;
        bottom: 10px;
        right: 0;
        z-index: 100;
    }

    .example-button-row button,
    .example-button-row a {
        margin-right: 10px;

        mat-icon {
            font-weight: bold;
        }
    }
}