<div class="main-view">
    <div class="tittle">
        <h1>Tags</h1>
    </div>
    <div class="add-tag mat-app-background" (click)="openDialogAddTag()">
        <p>+ Add Tag</p>
    </div>
    <div class="tags">
        <div class="tag" [style.backgroundColor]="tag.labelColor" *ngFor="let tag of allTags"
            (click)="tagClikeado(tag.id)" [ngClass]="{'with-btn' : tag.userId != null, 'selected' : tag.id == tagId}">
            <p>{{tag.name}}</p>
            <button mat-icon-button matTooltip="Edit" color="primary" aria-label="Example icon-button with a heart icon"
                [hidden]="tag.userId == null" (click)="openDialogWithTag(tag)">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="tagSelected == null">
        <app-doughnut-chart></app-doughnut-chart>
    </div>

    <div *ngIf="tagSelected != null">
        <app-tags-chart [tag]="tagSelected"></app-tags-chart>
    </div>
</div>