.main-view {
    margin-left: 90px;

    .tittle {
        text-align: center;
        padding: 12px;
        border-bottom: 1px solid black;
    }

    .add-tag {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        padding: 15px;
        cursor: pointer;
    }

    .tags {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 15px;

        .tag {
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 8px;
            padding: 12px;
        }

        .with-btn {
            justify-content: space-between;
            padding: 0 20px;

            mat-icon {
                color: white;
            }
        }

        .selected {
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
    }
}