<div class="bg-primary">
    <footer>
        <ul>
            <li i18n class="item"><a href="#">Contact Us</a></li>
            <li i18n class="item"><a href="#">Help Center</a></li>
            <li class="item"><a href="#"><fa-icon [icon]="faFacebok" size="xl"></fa-icon></a>
            </li>
            <li class="item"><a href="#"><fa-icon [icon]="faInsta" size="xl"></fa-icon></a></li>
            <li class="item"><a href="#"><fa-icon [icon]="faTw" size="xl"></fa-icon></a></li>
            <li class="item"><a href="#"><fa-icon [icon]="faDiscord" size="xl"></fa-icon></a>
            </li>
        </ul>
        <mat-divider></mat-divider>
        <p class="copy">© 2024 Michelle</p>
    </footer>
</div>