/* Define global typographic styles, such as font families, sizes, and weights. */

@font-face {
    font-family: 'Sono-Bold';
    src: url('../assets/fonts/Sono/Sono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono-ExtraBold';
    src: url('../assets/fonts/Sono/Sono-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono-ExtraLight';
    src: url('../assets/fonts/Sono/Sono-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono-Light';
    src: url('../assets/fonts/Sono/Sono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono-Medium';
    src: url('../assets/fonts/Sono/Sono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono-Regular';
    src: url('../assets/fonts/Sono/Sono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono-SemiBold';
    src: url('../assets/fonts/Sono/Sono-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}