/* Store all your global variables, such as colors, font sizes, breakpoints, and other reusable values. */
$primaryFont: 'Sono', Roboto, "Helvetica Neue", sans-serif;
$primary: #DBE2EF;

$margin: 0 auto;
$max-width: 1200px;