// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// the default hue, lighter hue, and darker hue respectively.
// By default, they will be 500, 100 and 700.
$TinyTask_App-primary: mat.define-palette(mat.$lavender-palette, 100, 300, 800);
$TinyTask_App-accent: mat.define-palette(mat.$indigo-palette, 600, 200, 400);

// The warn palette is optional (defaults to red).
$TinyTask_App-warn: mat.define-palette(mat.$red-palette, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TinyTask_App-theme: mat.define-light-theme((color: (primary: $TinyTask_App-primary,
        accent: $TinyTask_App-accent,
        warn: $TinyTask_App-warn,
      ),
      typography: mat.define-typography-config($font-family: 'Sono'),
      density: 0));
// $my-custom-typography-config: mat.define-typography-config($font-family: 'Sono-Bold',
//     $headline-1: mat.define-typography-level(112px, 112px, 300, 'Sono-ExtraBold', -0.05em),
//     $headline-2: mat.define-typography-level(56px, 56px, 400, 'Sono-ExtraLight', -0.02em),
//     $headline-3: mat.define-typography-level(45px, 48px, 400, 'Sono-Light', -0.005em),
//     $headline-4: mat.define-typography-level(34px, 40px, 400, 'Sono-Light', -0.005em),
//     $headline-5: mat.define-typography-level(24px, 32px, 400, 'Sono-Light', -0.005em),
//   );

// /**
//     @return (
//     font-size: $font-size,
//     line-height: $line-height,
//     font-weight: $font-weight,
//     font-family: $font-family,
//     letter-spacing: $letter-spacing
//   );
//   **/

// @include mat.typography-hierarchy($my-custom-typography-config);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TinyTask_App-theme);

/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'typography';
@import 'base';
@import 'layout';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $primaryFont;
}