<div class="side-nav mat-app-background">
    <div class="side-nav-container">
        <ul class="icons">
            <li routerLink="/stadistics" routerLinkActive="active" ariaCurrentWhenActive="page" class="first"
                matTooltip="Stadistics" [matTooltipPosition]="'right'">
                <fa-icon [icon]="faUser" size="4x"></fa-icon>
            </li>
            <li class="more-icons">
                <ul>
                    <li routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page" matTooltip="Tasks"
                        [matTooltipPosition]="'right'"><fa-icon [icon]="faTodo" size="2x"></fa-icon>
                        <p matBadge="4" matBadgeOverlap="false"></p>
                    </li>
                    <li routerLink="/tags" routerLinkActive="active" ariaCurrentWhenActive="page" matTooltip="Tags"
                        [matTooltipPosition]="'right'">
                        <fa-icon [icon]="faTags" size="2x"></fa-icon>
                    </li>
                    <li routerLink="/friends" routerLinkActive="active" ariaCurrentWhenActive="page"
                        matTooltip="Friends" [matTooltipPosition]="'right'"><fa-icon [icon]="faFriends"
                            size="2x"></fa-icon></li>
                    <li routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page" matTooltip="News"
                        [matTooltipPosition]="'right'">
                        <fa-icon [icon]="faNoti" size="2x"></fa-icon>
                        <p matBadge="4" matBadgeOverlap="false"></p>
                    </li>
                    <li *ngIf="isAdmin" (click)="changeProfile()" matTooltip="Change profile"
                        [matTooltipPosition]="'right'">
                        <fa-icon [icon]="faAdmin" size="2x"></fa-icon>
                    </li>
                    <li (click)="logout()" matTooltip="Logout" [matTooltipPosition]="'right'">
                        <fa-icon [icon]="faExit" size="2x"></fa-icon>
                    </li>
                    <li routerLink="/edit-profile" routerLinkActive="active" ariaCurrentWhenActive="page"
                        matTooltip="Edit Profile" [matTooltipPosition]="'right'">
                        <fa-icon [icon]="faconfig" size="2x"></fa-icon>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>