.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 10px 0 10px;

    h1 {
        margin: 15px 0;
    }

    img {
        width: 35%;
        height: 35%;
    }

    .right-img,
    .left-img {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .left-img {
        .especial {
            margin-top: 80px;
            padding-bottom: 20px;
            font-size: large;
            font-weight: 500;
        }
    }
}