<div class="container">
    <div class="right-img">
        <div class="about">
            <h1 i18n>About Us</h1>
            <p i18n>Hey, I'm the architect behind this hub of collaborative productivity. My journey revolves around
                turning tasks into shared victories without the corporate jargon. It's not just about codes and pixels;
                it's about creating a space where our to-do lists become collaborative adventures.</p>
            <h1 i18n>Who I Am</h1>
            <p i18n>I'm not your typical tech geek; I'm a task enthusiast on a mission to make productivity feel less
                like a chore and more like a shared journey. Think of me as the friendly navigator helping you sail
                through the sea of tasks.</p>
        </div>
        <img i18n-alt alt="" ngSrc="assets/imgs/bwink_msc_09.jpg" width="320" height="320" priority>
    </div>
    <div class="left-img">
        <img i18n-alt alt="" ngSrc="assets/imgs/bwink_msc_09.jpg" width="320" height="320" priority>
        <div class="drives">
            <h1 i18n>What Drives Me</h1>
            <p i18n>Passion guides my every click. Whether it's tweaking code or brainstorming new features, I find joy
                in the simple yet profound act of getting things done together. It's about making productivity not just
                efficient but enjoyable.</p>
            <p i18n class="especial">Welcome to my digital nook—where tasks become triumphs, and every click is a step
                towards shared success.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>