<div class="container">
    <h2>Profile</h2>
    <div class="content">
        <mat-divider [vertical]="true"></mat-divider>
        <div id="form">
            <form [formGroup]="profileForm" (ngSubmit)="onUpload()">
                <div>
                    <input class="form-control" type="file" (change)="onChange($event)"
                        formControlName="profile_picture">
                </div>
                <div>
                    <button mat-raised-button color="primary" type="submit">Edit
                        Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>