<div class="square">
    <span>
        <span id="receiver-name">{{request.sender}}</span> sent a friend request.
    </span>
    <div class="example-button-container">
        <div>
            <button mat-mini-fab color="accent" (click)="addFriend(request,0)">
                <mat-icon>check</mat-icon>
            </button>
        </div>
        <div>
            <button mat-mini-fab color="warn" (click)="addFriend(request,1)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>