.square {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    span {
        font-size: small;
    }

    #receiver-name {
        font-weight: bolder;
    }
}

.example-button-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}