<div class="container">
    <div class="main">
        <h1>Log in</h1>
        <div class="content">
            <img ngSrc="assets/imgs/bwink_ppl_21.jpg" width="300" height="300" alt="Login Image" priority>
            <div id="form">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field class="form-group">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" formControlName="username">
                            @if (loginForm.get('username')?.hasError('required')) {
                            <mat-error>Username is required</mat-error>
                            }
                            @if (loginForm.get('username')?.hasError('minlength')) {
                            <mat-error>Min. length 4</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-group">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password">
                            @if (loginForm.get('password')?.hasError('required')) {
                            <mat-error>Password is required</mat-error>
                            }
                            @if (loginForm.get('password')?.hasError('minlength')) {
                            <mat-error>Min. length 6</mat-error>
                            }
                            @if (loginForm.get('password')?.hasError('maxlength')) {
                            <mat-error>Max. length 15</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="loginForm.invalid">Login</button>
                    </div>
                </form>
                <div>
                    <span class="error"
                        [style.visibility]="isLoginFailed ? 'visible' : 'hidden'">{{errorMessage}}</span>
                </div>
            </div>
        </div>
    </div>
</div>