.main-view {
    margin-left: 90px;
    display: flex;
    height: 100vh;

    .all-tags {
        background-color: white;
        border: 1px solid black;
        border-width: 0 1px;
        overflow: auto;
        min-width: 270px;
        z-index: 102;

        // @media screen and (max-width: 600px) {
        //     display: none;
        // }

        .nav-month {
            .content {
                display: flex;
                justify-content: center;
                padding: 12px 0;
                border-bottom: 1px solid black;

                .text {
                    font-weight: 600;
                }
            }
        }

        .add-tag {
            display: flex;
            justify-content: center;
            padding: 15px;
            border-bottom: 1px solid black;
        }

        .filters {
            display: flex;
            justify-content: center;
            padding: 10px;


            ::ng-deep .mdc-label {
                font-size: 14px;
                font-weight: 600;
            }

            .all-filter {
                padding-right: 10px;
                align-self: center;
            }

            .todo-filter {
                align-self: center;

                ul {
                    display: flex;
                    list-style: none;
                }
            }
        }

        .tags {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            padding: 0 20px;

            .tag {
                border-radius: 8px;
                width: 190px;
                margin-bottom: 15px;
                padding: 10px;
                font-weight: 500;
                text-align: center;
            }

            .with-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                p {
                    padding: 0 10px;
                }

                mat-icon {
                    color: white;
                }
            }

            .selected {
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                // -webkit-box-shadow: 0px 0px 5px 7px rgba(212, 212, 212, 1);
                // -moz-box-shadow: 0px 0px 5px 7px rgba(212, 212, 212, 1);
                // box-shadow: 0px 0px 5px 7px rgba(212, 212, 212, 1);
            }
        }
    }

    .view-task {
        height: 100vh;
        margin-left: -90px;
        overflow: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}