.main-view {
    margin-left: 90px;
    display: flex;

    .all-tags {
        background-color: white;
        border: 1px solid black;
        border-width: 0 1px;

        .nav-month {
            .content {
                display: flex;
                justify-content: center;
                padding: 12px 0;
                border-bottom: 1px solid black;

                .text {

                    padding: 0 20px;
                    font-weight: 600;
                }
            }
        }

        .filters {
            display: flex;
            justify-content: center;
            padding: 15px 10px;

            .all-filter {
                flex-grow: 1;
                padding-right: 10px;
            }

            .todo-filter {
                flex-grow: 1;

                ul {
                    display: flex;
                }
            }

            ::ng-deep .mdc-label {
                font-size: medium;
                font-weight: 600;
            }

            .example-margin {
                font-weight: bold;
            }

            ul {
                list-style: none;
            }
        }

        .add-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            border-bottom: 1px solid black;
        }

        .tags {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tag {
                background-color: aquamarine;
                border: 1px solid black;
                width: 200px;
                text-align: center;
                margin-bottom: 15px;
                padding: 10px;
                font-weight: 500;
            }
        }
    }

    .view-task {
        height: 100vh;
        margin-left: -90px;
        overflow: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}