.main-view {
    margin-left: 90px;
    display: flex;
    height: 100vh;

    .all-tags {
        background-color: white;
        border: 1px solid black;
        border-width: 0 1px;
        overflow: auto;
        min-width: max-content;

        .nav-month {
            .content {
                display: flex;
                justify-content: center;
                padding: 12px 0;
                border-bottom: 1px solid black;

                .text {
                    font-weight: 600;
                }
            }
        }

        .add-tag {
            display: flex;
            justify-content: center;
            padding: 15px;
            border-bottom: 1px solid black;
        }

        .filters {
            display: flex;
            justify-content: center;
            padding: 15px 10px;

            ::ng-deep .mdc-label {
                font-size: medium;
                font-weight: 600;
            }

            .all-filter {
                padding-right: 10px;
            }

            .todo-filter {
                ul {
                    display: flex;
                    list-style: none;
                }
            }
        }

        .tags {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 50px;

            .tag {
                border: 1px solid black;
                width: 190px;
                margin-bottom: 15px;
                padding: 10px 15px;
                font-weight: 500;
                text-align: center;
            }

            .with-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;

                mat-icon {

                    color: white;
                }
            }
        }
    }

    .view-task {
        height: 100vh;
        margin-left: -90px;
        overflow: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}