<div class="container">
    <div class="main">
        <h1>Sign In</h1>
        <div class="content">
            <img ngSrc="assets/imgs/bwink_ppl_21.jpg" width="300" height="300" alt="" priority>
            <mat-divider [vertical]="true"></mat-divider>
            <div id="form">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="form-group">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username">
                        <mat-error
                            *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                            Username is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-group">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error
                            *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                            <span *ngIf="registerForm.get('password')?.hasError('required')">Password is required</span>
                            <span *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least
                                6
                                characters</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                            <span *ngIf="registerForm.get('email')?.hasError('required')">Email is required</span>
                            <span *ngIf="registerForm.get('password')?.hasError('email')">Please enter a valid email
                                address</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rol">
                            <mat-option value="user">Usuario</mat-option>
                            <mat-option value="admin">Administrador</mat-option>
                        </mat-select>
                        <mat-error *ngIf="registerForm.get('rol')?.invalid && registerForm.get('rol')?.touched">
                            Rol is required
                        </mat-error>
                    </mat-form-field>

                    <div class="form-group">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="registerForm.invalid">Register</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="footer-fixed">
        <app-footer></app-footer>
    </div>