.user {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;

    fa-icon {
        display: flex;
        align-items: center;
    }

    .state {
        font-size: small;
        font-weight: 600;
    }
}