.user {
    padding: 15px 50px;
    display: flex;

    fa-icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}