.main-view {
    margin-left: 90px;

    .table-tasks {
        display: flex;

        .example-container {
            flex-grow: 1;

            .tittle {

                text-align: center;
                padding: 20px 0;
            }

            .container {
                margin: 15px;
            }

            .mat-mdc-form-field {
                font-size: 14px;
                width: 100%;
            }

            td,
            th {
                width: 15%;

                mat-form-field {
                    width: fit-content;
                }
            }

            .mat-row {
                .mat-cell {
                    text-decoration: underline;
                    font-weight: 600;
                    text-align: center;
                    padding: 15px 0;
                }
            }

            button {
                margin: 0 5px;
            }

            .actions {
                text-align: center;
            }
        }
    }

    .nav-month {

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;

            .text {
                padding: 0 20px;
                font-weight: 600;
            }
        }
    }

    .friends-list {
        width: 300px;
        height: calc(100vh - 41px); // tamaño de la barra nav-mes
        border: 1px solid black;
        border-bottom: 0;
        overflow: auto;

        .add-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            border-bottom: 1px solid black;
            overflow: hidden;
        }

        .form {
            overflow: hidden;
            margin: 0;
            padding: 0;
            display: flex;
            padding: 5px;

            form {
                display: flex;
                align-items: center;
                justify-content: center;

                mat-form-field {
                    width: 69%;
                }
            }

            .button {
                padding-bottom: 15px;
                margin-left: 5px;
            }
        }
    }
}