<div class="main-view">

    <button class="show-requests" (click)="openTagsNav()" mat-fab matTooltip="Show Tags" color="accent">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
    <div class="friends" *ngIf="!isSmallScreen">
        <div class="divider">
            <div class="mat-app-background" [ngClass]="{'ola': change}" (click)="changeSide(0)" color="accent">
                <h3>Friends</h3>
            </div>
            <div class="mat-app-background req" [ngClass]="{'ola': !change}" (click)="changeSide(1)">
                <h3>Requests</h3>
            </div>
        </div>
        <div class="friends-list" *ngIf="change">
            <div class="mat-app-background">
                <h3>Friends List</h3>
            </div>
            <div class="list" *ngFor="let item of friendList">
                <app-friend [friend]="item" (friendDelete)="deleteFriend($event)"></app-friend>
            </div>
        </div>
        <div class="friends-request" *ngIf="!change">
            <div class="mat-app-background">
                <h3>Friend Requests</h3>
            </div>
            <div class="add-friend mat-app-background" (click)="open()">
                + Add Friend
            </div>
            <div class="form" *ngIf="show">
                <form [formGroup]="searchUserForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-form-field" [hideRequiredMarker]="hideRequiredControl.value">
                        <mat-label>Search Friend</mat-label>
                        <input matInput type="text" formControlName="username">

                        <button matSuffix mat-icon-button aria-label="Clear" type="submit"
                            [disabled]="searchUserForm.invalid">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </div>
            <div class="list" *ngFor="let item of requestList">
                <app-request [request]="item"></app-request>
            </div>
        </div>
    </div>


    <div class="main-content">
        <div class="mat-app-background">
            <h3>Friend's Tasks</h3>
        </div>
        <app-tree-tasks></app-tree-tasks>
    </div>
</div>