.main-view {
    margin-left: 90px;
    height: 100vh;
    position: relative;
    display: flex;

    h3 {
        text-align: center;
        border-bottom: black 1px solid;
        padding: 20px 0;
    }

    .friends {
        background-color: white;
        border-right: 1px solid black;
        width: 280px;
        height: 100%;
        z-index: 90;
        position: absolute;
    }

    .show-requests {
        position: absolute;
        z-index: 91;
        margin-left: -27px;
        align-self: center;

        mat-icon {
            display: flex;
            margin-left: 15px;
            font-size: 30px;
            align-items: center;
        }
    }

    .friends-request {
        background-color: white;


        .add-friend {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 1px solid black;
            cursor: pointer;
        }

        .form {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            input {
                width: 69%;
            }
        }
    }

    .divider {
        display: flex;
        cursor: pointer;

        .ola {
            background-color: #5c6bc0;
        }

        div {
            flex-grow: 1;
        }

        .req {
            border-left: 1px solid black;
        }
    }

    .main-content {
        width: 100%;
    }
}